nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    width: 99%;
    border-radius: 10px ;
    position:fixed;
    margin-right: 100px;
    
}
div:first-child>img{
    border-radius: 50%;
    margin-top: 4px;

}
div:first-child{
    width: 100px;
    margin-left: 10px;
}
div:nth-child(2){
    width: 400px;
    gap:40px;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
div:nth-child(3)>input{
    border-radius: 20px;
    width: 300px;
    height: 30px;
    outline: none;
    


}
div:last-child{
    margin-right: 10px;
}

header+div{
    height: 500px;
    width: 100vw;
    background-size:  500px 500px;
    background-color: red;
    
    
}
header+div>div{
    height: 200px;
    width: 300px;
    background-color: aqua;
}
body{
    background-color: antiquewhite;
}